body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}
.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

footer {
	margin: 50px 0;
}
.box-style .prod_cat {
background: none repeat scroll 0 0 white;
border-radius: 6px 6px 6px 6px;
box-shadow: 0 0 5px #D8D8D8;
margin: 5px;
padding: 10px;
float: left;
margin-right: 20px;
}
.box-style img {
    max-width: 100% !important;
}