/* 
Custom CSS for...
'Modern Business' HTML Theme by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* Global Styles */

html, body {
  height: 100%;
}

body {
  
  background: url('../img/textura.jpg') repeat top left;
 /* body padding for fixed top nav */
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
  margin-bottom: 30px;
}

.tab-pane {
  margin-top: 15px;
}

/* Page Sections */


.section-colored {
    background: #ddd;
     border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    
}

.sidebar {
  margin-top: 40px;
}

.sidebar ul {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
}

/* Half Page Height Carousel Customization */
.carousel {
  height: 50%;
}

.item,
.active,
.carousel-inner {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 30%;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

/* Footer Styles */
footer {
  margin: 30% 0;
}

/* Responsive Styles */
@media (max-width: 767px) {

  .carousel {
    height: 70%;
 /* increases the carousel height so it looks good on phones */
  }
}

ul.katMenu li {
    display: block;
    padding: 10px 5px;
    background: #fff;
}
.katSzint_2 a{
    padding-left: 30px;
}
.katSzint_3 a{
    padding-left: 60px;
}
.katOpen {
    float: right;
}


.navbar-bg {
    background: rgb(64,150,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(64,150,238,1) 0%, rgba(0,91,239,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,150,238,1)), color-stop(100%,rgba(0,91,239,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(0,91,239,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(0,91,239,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(64,150,238,1) 0%,rgba(0,91,239,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(64,150,238,1) 0%,rgba(0,91,239,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#005bef',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
.navbar-nav a {
color: #fff;
font-weight: bold;
}
.navbar-nav a:hover {
color: #000;
font-weight: bold;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #EEE;
color:#000;
border-color: #428BCA;
}
.navbar-toggle .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
background: #fff;
}
.navbar-toggle {
    border:  none;
    background: rgb(64,150,238); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(64,150,238,1) 0%, rgba(0,91,239,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(64,150,238,1)), color-stop(100%,rgba(0,91,239,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(64,150,238,1) 0%,rgba(0,91,239,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(64,150,238,1) 0%,rgba(0,91,239,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(64,150,238,1) 0%,rgba(0,91,239,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(64,150,238,1) 0%,rgba(0,91,239,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#005bef',GradientType=1 ); /* IE6-9 */

}
.container {
    background: #f9f9f9;
}
.headercontainer {
    background: #fff;
}
a.navbar-brand {
    color:#fff;   
}
.navbar-right {
float: left!important;
}

.box-style {
    
background: none repeat scroll 0 0 white;
border-radius: 6px 6px 6px 6px;
box-shadow: 0 0 5px #D8D8D8;
margin: 5px;
padding: 10px;
float: left;
margin-right: 20px;

}
.box-style img {
    max-width: 100% !important;
}
.katBox {
    position: relative;
    max-width: 100% !important;
    margin: 5px 5px 30px 5px;
padding: 10px;
padding-bottom: 0;
background: white;
box-shadow: 0 0 5px #D8D8D8;
border-radius: 6px;
-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
-ms-transition: 0.5s ease;
-o-transition: 0.5s ease;
height: 300px;
border-bottom: 3px solid #E92D00;

}
.katBox a {
    text-decoration: none;
    color: #ea3;
}
.katBox:hover { 
    border-bottom: 3px solid #FF8000;
    box-shadow: 3px 3px 10px #333;
    left: -5px;
    top: -5px;
    z-index: 10;
}
img {
    max-width: 100% !important;
}
.katBox span.glyphicon {
    position: absolute;
    top: 1px;
    left: 32px;
font-size: 39px;
color: #009D4F;
}
span.glyphicon strong {
    position: absolute;
top: 5px;
left: 11px;
color: white;
font-size: 13px;
font-weight: normal;
display: block;
width: 20px;
text-align: center;
}
.utvonal {
    height: 20px;
    background: #f9f9f9;
    padding-left: 20px;
}
.utvonal span {
    margin-right: 10px;
}
.utvonal a {
    margin-right: 5px;
    color: #aaa;
}
.utvonal a:hover {
    color: #000;
    text-decoration: none;
}
.utvonal a::after {
    content: "\A0\A0\A0\BB";
}
.utvonal a:last-child {
    
    color: #222;
}
.utvonal a:last-child::after {
    content: "";
    
}
.roundedbox {
    margin: 10px;
    padding: 5px;
background-color: white;
border-width: 1px;
border-color: #DDD;
border-radius: 4px 4px 0 0;
box-shadow: none;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.clear-both {
    clear: both;
}
.inline-block {
    display: inline-block;
}

.termBox {
    position: relative;
    max-width: 100% !important;
    margin: 5px 5px 30px 5px;
padding: 10px;
padding-bottom: 0;
background: white;
box-shadow: 0 0 5px #D8D8D8;
border-radius: 6px;
-webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
-ms-transition: 0.5s ease;
-o-transition: 0.5s ease;
height: 500px;
border-bottom: 3px solid #E92D00;
    text-align: center;
}
.termBox a {
    text-decoration: none;
    color: #ea3;
}
.termBox:hover { 
    border-bottom: 1px solid #FF8000;
    
    
    z-index: 10;
    border-top: 2px solid #0FDAF0;
}
img {
    max-width: 100% !important;
}
.termBox span.akcioIcon {
    position: absolute;
    top: 1px;
    right: 32px;
font-size: 39px;
color: #FF8000;
}
.termBox span.akcioIcon strong {
    position: absolute;
top: 5px;
left: 11px;
color: white;
font-size: 13px;
font-weight: normal;
display: block;
width: 20px;
text-align: center;
}
.termekNev{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}
.termekLeiras {
    text-align: center;
    margin-bottom: 10px;
    color: #aaa;

}
.termekArNetto {
    color: #ea3;
    font-size: 1.5em;
    
}
.termekArBrutto {
    color: green;
    font-size: 1.1em;
    
}
.termekVan {
    color: green;
}
.termekNincs {
    color: #800040;
}
.termBox .termekTovabb a{
    display: block;
    position: absolute;
    bottom: 10px;
    left: 20%;
    width: 60%;
    background: #0098E6;
    padding: 6px 10px 6px 10px;
    color: #fff;
    -webkit-transition: 0.5s ease;
-moz-transition: 0.5s ease;
-ms-transition: 0.5s ease;
-o-transition: 0.5s ease;
}
.termBox:hover .termekTovabb a{
    left: 18%;
    width: 64%;
    background: #004080;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.termekGyorsnezet {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 100;
    width:  60%;
    -webkit-transition: 0.5s ease;
-moz-transition: 1s ease;
-ms-transition: 1s ease;
-o-transition: 1s ease;
    display:none;
    -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
    background: #0098E6;
    color: #fff;
    text-align: center;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
   
    
}
.termBox:hover .termekGyorsnezet {
    display: block;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.termekGyorsnezet a span {
    
    color:#fff;
    
}
.termekGyorsnezet a {
     padding: 20px;
     font-weight: bold;
    color:#fff;
}
.minikosar {
    background: #004080;
    color: #fff;
    padding-top: 20px;
    -webkit-border-bottom-right-radius: 30%;
-webkit-border-bottom-left-radius: 30%;
-moz-border-radius-bottomright: 30%;
-moz-border-radius-bottomleft: 30%;
border-bottom-right-radius: 30%;
border-bottom-left-radius: 30%;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
border-bottom: 3px solid #0080FF;
}
.minikosar div.cim {
    font-size: 16px;
    text-align: center;
}
.minikosar div.tartalom {
    text-align: center;
    color: #FEE47E;
}