body {

    margin: 0;

    padding: 0;

    width: 800px;

}

.main {

    background: #D3EBED;

    margin: 0;

    padding: 10px;
    
    padding-top: 60px;

    color: #000;

    font-size: 28px;

    text-align: justify;

    font-weight: bold;

    font-family: arial;

}

.potty {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 2px;
}
.sarga {
    background: yellow;
}
.kek {
    background: blue;
}
.piros {
    background: red;
}
.zold {
    background: green;
}
.uzi {
    display: none;
    position: absolute;
    top: 400px;
    left:200px;
    width:400px;
    background: white;
    border: 2px solid green;
}
.hiba {
    position: absolute;
    display: none;
    top: 400px;
    left:200px;
    width:400px;
    background: white;
    border: 2px solid red;
}
.kerdesDoboz {
     position: absolute;
    top: 200px;
    left:200px;
    width:400px;
    background: white;
    border: 2px solid gray;
    display: none;
}
.inaktiv {
    background: grey !important;
}
