

#slider-code { height: 280px; overflow:hidden; width:684px;float: left; }
#slider-code .viewport { float: left; width: 684px; height: 280px; overflow: hidden; position: relative; }
#slider-code .buttons { display: block; margin: 30px 10px 0 0; float: left; }
#slider-code .next { margin: 30px 0 0 10px;  }
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
#slider-code .overview li{ float: left; margin: 0 0px 0 0; padding: 0px; height: 280px; width: 684px;}

#slider-code-right { height: 260px; overflow:hidden; width:280px;float: right;border-top: 1px solid yellow; }
#slider-code-right .viewport { float: left; width: 280px; height: 155px; overflow: hidden; position: relative; }
#slider-code-right .buttons { display: block; margin: 30px 10px 0 0; float: left;height:36px;width: 36px; }
#slider-code-right .next { margin: 30px 0 0 10px;  }
#slider-code-right .disable { visibility: hidden; }
#slider-code-right .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
#slider-code-right .overview li{ float: left; margin: 0 0px 0 0; padding: 1px; height: 60px; width: 265px;}
#slider-code-right .next 			{ background:transparent url(images/buttons.png) no-repeat scroll 0 -112px; display: block; margin: 5px 10px 0 0; }
	#slider-code-right .prev 			{ background:transparent url(images/buttons.png) no-repeat scroll 0px -71px; display: block; margin: 5px 10px 0 92px; }
	#slider-code-right .disable 		{ visibility: hidden; }
#slider-code-right h3, .jobbblokk h3 {
text-transform: uppercase;
text-align: center;
color: #463114;
text-shadow: 1px 1px 5px #8d6727;
font-size: 24px;
font-weight: bold;
}
#slider-code-right .overview li {
line-height: 1.4;
position: relative;
margin: 6px;
}

#slider-code-right .overview li a.menu-box {
background: #f9b562;
display: block;
height: 40px;
padding: 12px 10px;
font-size: 12px;
color: #FFF;
}

#slider-code-right .overview span.title {
color: #463114;
margin-bottom: 18px;
font-size: 13px;
font-weight: bold;
}
#slider-code-right .overview span.arrow {
background: url(images/menu-box-arrow.png) no-repeat left bottom;
width: 36px;
height: 36px;
display: block;
position: absolute;
top: 14px;
right: 7px;
}
a.menu-box:hover { background: #f5bf4c; text-decoration: none; }
a.menu-box:hover span.arrow { background: url(images/menu-box-arrow.png) no-repeat left top; }

.round_4 {
-moz-border-radius: 4px !important;
-webkit-border-radius: 4px !important;
}