body {
    padding: 0;
    margin: 0 auto 0 auto;
    font-size: 14px;
    background: #23538a; /* Old browsers */
background: -moz-linear-gradient(top,  #23538a 0%, #a7cfdf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23538a), color-stop(100%,#a7cfdf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #23538a 0%,#a7cfdf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #23538a 0%,#a7cfdf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #23538a 0%,#a7cfdf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #23538a 0%,#a7cfdf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#a7cfdf',GradientType=0 ); /* IE6-9 */

}
.main {
    -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
    background: #fff;
    padding: 20px;
    width: 900px;
    margin: 40px auto 40px auto;
    
}
label {
    float: left;
    width: 400px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}
p {
    clear: both;
}
input, textarea {
    width: 300px;
    padding: 4px;
    border: 1px solid #ea3;
}
input:focus {
    background: #E6E6E6;
}
h1 {
    text-align: center;
    color: gray;
    text-transform: uppercase;
}
.elvalaszto img {
    
    margin-right: 40px;
}
.elvalaszto {
    font-size: 20px;
    color: navy;
    vertical-align: middle;
    border-bottom: 1px dashed silver;
    padding-right: 250px;
    margin-bottom: 20px;
}
.msg {
    text-align: center;
}
.slogen {
    display: block;
    font-size: 10px;
    color: gray;
    text-transform: uppercase;
    text-align: center;
}
.hibak {
    font-size: 12px;
    color: red;
    text-align: right;
    padding-right: 200px;
}