/*!
 * Bootstrap v3.0.3 (http://getbootstrap.com)
 * Copyright 2013 Twitter, Inc.
 * Licensed under http://www.apache.org/licenses/LICENSE-2.0
 */
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */


button,input,select,textarea {
margin:0;
font-family:inherit;
font-size:100%
}

button,input {
line-height:normal
}

button,select {
text-transform:none
}

button,html input [type= "button " ],input [type= "reset " ],input [type= "submit " ] {
cursor:pointer;
-webkit-appearance:button
}

button [disabled ],html input [disabled ] {
cursor:default
}

input [type= "checkbox " ],input [type= "radio " ] {
padding:0;
box-sizing:border-box
}

input [type= "search " ] {
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
-webkit-appearance:textfield
}

input [type= "search " ]::-webkit-search-cancel-button,input [type= "search " ]::-webkit-search-decoration {
-webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner {
padding:0;
border:0
}

textarea {
overflow:auto;
vertical-align:top
}


.navbar {
display:none
}

.table td,.table th {
background-color:#fff!important
}

.btn >.caret,.dropup >.btn >.caret {
border-top-color:#000!important
}

.label {
border:1px solid #000
}

.table {
border-collapse:collapse!important
}

.table-bordered th,.table-bordered td {
border:1px solid #ddd!important
}
}

input,button,select,textarea {
font-family:inherit;
font-size:inherit;
line-height:inherit
}

a {
color:#428bca;
text-decoration:none
}
.files canvas {
    float: left;
    margin-right: 5px;
}
.files canvas {
    float: right;
    margin-right: 15px;
}
.files div {
    clear: both;
    height: 103px;
    background: #FFF9EA;
    padding: 5px;
    margin: 5px;
    border: 1px solid #eaeaea;
}
a:hover,a:focus {
color:#2a6496;
text-decoration:underline
}

a:focus {
outline:thin dotted;
outline:5px auto -webkit-focus-ring-color;
outline-offset:-2px
}

img {
vertical-align:middle
}

.img-responsive {
display:block;
height:auto;
max-width:100%
}

.img-rounded {
border-radius:6px
}

.img-thumbnail {
display:inline-block;
height:auto;
max-width:100%;
padding:4px;
line-height:1.428571429;
background-color:#fff;
border:1px solid #ddd;
border-radius:4px;
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out
}

.img-circle {
border-radius:50%
}

hr {
margin-top:20px;
margin-bottom:20px;
border:0;
border-top:1px solid #eee
}

.sr-only {
position:absolute;
width:1px;
height:1px;
padding:0;
margin:-1px;
overflow:hidden;
clip:rect(0,0,0,0);
border:0
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
font-family: "Helvetica Neue ",Helvetica,Arial,sans-serif;
font-weight:500;
line-height:1.1;
color:inherit
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small {
font-weight:normal;
line-height:1;
color:#999
}

h1,h2,h3 {
margin-top:20px;
margin-bottom:10px
}

h1 small,h2 small,h3 small,h1 .small,h2 .small,h3 .small {
font-size:65%
}

h4,h5,h6 {
margin-top:10px;
margin-bottom:10px
}

h4 small,h5 small,h6 small,h4 .small,h5 .small,h6 .small {
font-size:75%
}

h1,.h1 {
font-size:36px
}

h2,.h2 {
font-size:30px
}

h3,.h3 {
font-size:24px
}

h4,.h4 {
font-size:18px
}

h5,.h5 {
font-size:14px
}

h6,.h6 {
font-size:12px
}

p {
margin:0 0 10px
}

.lead {
margin-bottom:20px;
font-size:16px;
font-weight:200;
line-height:1.4
}

@media(min-width:768px) {
.lead {
font-size:21px
}
}

small,.small {
font-size:85%
}

cite {
font-style:normal
}

.text-muted {
color:#999
}

.text-primary {
color:#428bca
}

.text-primary:hover {
color:#3071a9
}

.text-warning {
color:#8a6d3b
}

.text-warning:hover {
color:#66512c
}

.text-danger {
color:#a94442
}

.text-danger:hover {
color:#843534
}

.text-success {
color:#3c763d
}

.text-success:hover {
color:#2b542c
}

.text-info {
color:#31708f
}

.text-info:hover {
color:#245269
}

.text-left {
text-align:left
}

.text-right {
text-align:right
}

.text-center {
text-align:center
}

.page-header {
padding-bottom:9px;
margin:40px 0 20px;
border-bottom:1px solid #eee
}

ul,ol {
margin-top:0;
margin-bottom:10px
}

ul ul,ol ul,ul ol,ol ol {
margin-bottom:0
}

.list-unstyled {
padding-left:0;
list-style:none
}

.list-inline {
padding-left:0;
list-style:none
}

.list-inline >li {
display:inline-block;
padding-right:5px;
padding-left:5px
}

.list-inline >li:first-child {
padding-left:0
}

dl {
margin-top:0;
margin-bottom:20px
}

dt,dd {
line-height:1.428571429
}

dt {
font-weight:bold
}

dd {
margin-left:0
}

@media(min-width:768px) {
.dl-horizontal dt {
float:left;
width:160px;
overflow:hidden;
clear:left;
text-align:right;
text-overflow:ellipsis;
white-space:nowrap
}

.dl-horizontal dd {
margin-left:180px
}

.dl-horizontal dd:before,.dl-horizontal dd:after {
display:table;
content: " "
}

.dl-horizontal dd:after {
clear:both
}

.dl-horizontal dd:before,.dl-horizontal dd:after {
display:table;
content: " "
}

.dl-horizontal dd:after {
clear:both
}
}

abbr [title ],abbr [data-original-title ] {
cursor:help;
border-bottom:1px dotted #999
}

.initialism {
font-size:90%;
text-transform:uppercase
}

blockquote {
padding:10px 20px;
margin:0 0 20px;
border-left:5px solid #eee
}

blockquote p {
font-size:17.5px;
font-weight:300;
line-height:1.25
}

blockquote p:last-child {
margin-bottom:0
}

blockquote small,blockquote .small {
display:block;
line-height:1.428571429;
color:#999
}

blockquote small:before,blockquote .small:before {
content: ' \2014 \00A0 '
}

blockquote.pull-right {
padding-right:15px;
padding-left:0;
border-right:5px solid #eee;
border-left:0
}

blockquote.pull-right p,blockquote.pull-right small,blockquote.pull-right .small {
text-align:right
}

blockquote.pull-right small:before,blockquote.pull-right .small:before {
content: ' '
}

blockquote.pull-right small:after,blockquote.pull-right .small:after {
content: ' \00A0 \2014 '
}

blockquote:before,blockquote:after {
content: " "
}

address {
margin-bottom:20px;
font-style:normal;
line-height:1.428571429
}

code,kbd,pre,samp {
font-family:Menlo,Monaco,Consolas, "Courier New ",monospace
}

code {
padding:2px 4px;
font-size:90%;
color:#c7254e;
white-space:nowrap;
background-color:#f9f2f4;
border-radius:4px
}

pre {
display:block;
padding:9.5px;
margin:0 0 10px;
font-size:13px;
line-height:1.428571429;
color:#333;
word-break:break-all;
word-wrap:break-word;
background-color:#f5f5f5;
border:1px solid #ccc;
border-radius:4px
}

pre code {
padding:0;
font-size:inherit;
color:inherit;
white-space:pre-wrap;
background-color:transparent;
border-radius:0
}

.pre-scrollable {
max-height:340px;
overflow-y:scroll
}

.container {
padding-right:15px;
padding-left:15px;
margin-right:auto;
margin-left:auto
}

.container:before,.container:after {
display:table;
content: " "
}

.container:after {
clear:both
}

.container:before,.container:after {
display:table;
content: " "
}

.container:after {
clear:both
}

@media(min-width:768px) {
.container {
width:750px
}
}

@media(min-width:992px) {
.container {
width:970px
}
}

@media(min-width:1200px) {
.container {
width:1170px
}
}

.row {
margin-right:-15px;
margin-left:-15px
}

.row:before,.row:after {
display:table;
content: " "
}

.row:after {
clear:both
}

.row:before,.row:after {
display:table;
content: " "
}

.row:after {
clear:both
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
position:relative;
min-height:1px;
padding-right:15px;
padding-left:15px
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
float:left
}

.col-xs-12 {
width:100%
}

.col-xs-11 {
width:91.66666666666666%
}

.col-xs-10 {
width:83.33333333333334%
}

.col-xs-9 {
width:75%
}

.col-xs-8 {
width:66.66666666666666%
}

.col-xs-7 {
width:58.333333333333336%
}

.col-xs-6 {
width:50%
}

.col-xs-5 {
width:41.66666666666667%
}

.col-xs-4 {
width:33.33333333333333%
}

.col-xs-3 {
width:25%
}

.col-xs-2 {
width:16.666666666666664%
}

.col-xs-1 {
width:8.333333333333332%
}

.col-xs-pull-12 {
right:100%
}

.col-xs-pull-11 {
right:91.66666666666666%
}

.col-xs-pull-10 {
right:83.33333333333334%
}

.col-xs-pull-9 {
right:75%
}

.col-xs-pull-8 {
right:66.66666666666666%
}

.col-xs-pull-7 {
right:58.333333333333336%
}

.col-xs-pull-6 {
right:50%
}

.col-xs-pull-5 {
right:41.66666666666667%
}

.col-xs-pull-4 {
right:33.33333333333333%
}

.col-xs-pull-3 {
right:25%
}

.col-xs-pull-2 {
right:16.666666666666664%
}

.col-xs-pull-1 {
right:8.333333333333332%
}

.col-xs-pull-0 {
right:0
}

.col-xs-push-12 {
left:100%
}

.col-xs-push-11 {
left:91.66666666666666%
}

.col-xs-push-10 {
left:83.33333333333334%
}

.col-xs-push-9 {
left:75%
}

.col-xs-push-8 {
left:66.66666666666666%
}

.col-xs-push-7 {
left:58.333333333333336%
}

.col-xs-push-6 {
left:50%
}

.col-xs-push-5 {
left:41.66666666666667%
}

.col-xs-push-4 {
left:33.33333333333333%
}

.col-xs-push-3 {
left:25%
}

.col-xs-push-2 {
left:16.666666666666664%
}

.col-xs-push-1 {
left:8.333333333333332%
}

.col-xs-push-0 {
left:0
}

.col-xs-offset-12 {
margin-left:100%
}

.col-xs-offset-11 {
margin-left:91.66666666666666%
}

.col-xs-offset-10 {
margin-left:83.33333333333334%
}

.col-xs-offset-9 {
margin-left:75%
}

.col-xs-offset-8 {
margin-left:66.66666666666666%
}

.col-xs-offset-7 {
margin-left:58.333333333333336%
}

.col-xs-offset-6 {
margin-left:50%
}

.col-xs-offset-5 {
margin-left:41.66666666666667%
}

.col-xs-offset-4 {
margin-left:33.33333333333333%
}

.col-xs-offset-3 {
margin-left:25%
}

.col-xs-offset-2 {
margin-left:16.666666666666664%
}

.col-xs-offset-1 {
margin-left:8.333333333333332%
}

.col-xs-offset-0 {
margin-left:0
}

@media(min-width:768px) {
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
float:left
}

.col-sm-12 {
width:100%
}

.col-sm-11 {
width:91.66666666666666%
}

.col-sm-10 {
width:83.33333333333334%
}

.col-sm-9 {
width:75%
}

.col-sm-8 {
width:66.66666666666666%
}

.col-sm-7 {
width:58.333333333333336%
}

.col-sm-6 {
width:50%
}

.col-sm-5 {
width:41.66666666666667%
}

.col-sm-4 {
width:33.33333333333333%
}

.col-sm-3 {
width:25%
}

.col-sm-2 {
width:16.666666666666664%
}

.col-sm-1 {
width:8.333333333333332%
}

.col-sm-pull-12 {
right:100%
}

.col-sm-pull-11 {
right:91.66666666666666%
}

.col-sm-pull-10 {
right:83.33333333333334%
}

.col-sm-pull-9 {
right:75%
}

.col-sm-pull-8 {
right:66.66666666666666%
}

.col-sm-pull-7 {
right:58.333333333333336%
}

.col-sm-pull-6 {
right:50%
}

.col-sm-pull-5 {
right:41.66666666666667%
}

.col-sm-pull-4 {
right:33.33333333333333%
}

.col-sm-pull-3 {
right:25%
}

.col-sm-pull-2 {
right:16.666666666666664%
}

.col-sm-pull-1 {
right:8.333333333333332%
}

.col-sm-pull-0 {
right:0
}

.col-sm-push-12 {
left:100%
}

.col-sm-push-11 {
left:91.66666666666666%
}

.col-sm-push-10 {
left:83.33333333333334%
}

.col-sm-push-9 {
left:75%
}

.col-sm-push-8 {
left:66.66666666666666%
}

.col-sm-push-7 {
left:58.333333333333336%
}

.col-sm-push-6 {
left:50%
}

.col-sm-push-5 {
left:41.66666666666667%
}

.col-sm-push-4 {
left:33.33333333333333%
}

.col-sm-push-3 {
left:25%
}

.col-sm-push-2 {
left:16.666666666666664%
}

.col-sm-push-1 {
left:8.333333333333332%
}

.col-sm-push-0 {
left:0
}

.col-sm-offset-12 {
margin-left:100%
}

.col-sm-offset-11 {
margin-left:91.66666666666666%
}

.col-sm-offset-10 {
margin-left:83.33333333333334%
}

.col-sm-offset-9 {
margin-left:75%
}

.col-sm-offset-8 {
margin-left:66.66666666666666%
}

.col-sm-offset-7 {
margin-left:58.333333333333336%
}

.col-sm-offset-6 {
margin-left:50%
}

.col-sm-offset-5 {
margin-left:41.66666666666667%
}

.col-sm-offset-4 {
margin-left:33.33333333333333%
}

.col-sm-offset-3 {
margin-left:25%
}

.col-sm-offset-2 {
margin-left:16.666666666666664%
}

.col-sm-offset-1 {
margin-left:8.333333333333332%
}

.col-sm-offset-0 {
margin-left:0
}
}

@media(min-width:992px) {
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
float:left
}

.col-md-12 {
width:100%
}

.col-md-11 {
width:91.66666666666666%
}

.col-md-10 {
width:83.33333333333334%
}

.col-md-9 {
width:75%
}

.col-md-8 {
width:66.66666666666666%
}

.col-md-7 {
width:58.333333333333336%
}

.col-md-6 {
width:50%
}

.col-md-5 {
width:41.66666666666667%
}

.col-md-4 {
width:33.33333333333333%
}

.col-md-3 {
width:25%
}

.col-md-2 {
width:16.666666666666664%
}

.col-md-1 {
width:8.333333333333332%
}

.col-md-pull-12 {
right:100%
}

.col-md-pull-11 {
right:91.66666666666666%
}

.col-md-pull-10 {
right:83.33333333333334%
}

.col-md-pull-9 {
right:75%
}

.col-md-pull-8 {
right:66.66666666666666%
}

.col-md-pull-7 {
right:58.333333333333336%
}

.col-md-pull-6 {
right:50%
}

.col-md-pull-5 {
right:41.66666666666667%
}

.col-md-pull-4 {
right:33.33333333333333%
}

.col-md-pull-3 {
right:25%
}

.col-md-pull-2 {
right:16.666666666666664%
}

.col-md-pull-1 {
right:8.333333333333332%
}

.col-md-pull-0 {
right:0
}

.col-md-push-12 {
left:100%
}

.col-md-push-11 {
left:91.66666666666666%
}

.col-md-push-10 {
left:83.33333333333334%
}

.col-md-push-9 {
left:75%
}

.col-md-push-8 {
left:66.66666666666666%
}

.col-md-push-7 {
left:58.333333333333336%
}

.col-md-push-6 {
left:50%
}

.col-md-push-5 {
left:41.66666666666667%
}

.col-md-push-4 {
left:33.33333333333333%
}

.col-md-push-3 {
left:25%
}

.col-md-push-2 {
left:16.666666666666664%
}

.col-md-push-1 {
left:8.333333333333332%
}

.col-md-push-0 {
left:0
}

.col-md-offset-12 {
margin-left:100%
}

.col-md-offset-11 {
margin-left:91.66666666666666%
}

.col-md-offset-10 {
margin-left:83.33333333333334%
}

.col-md-offset-9 {
margin-left:75%
}

.col-md-offset-8 {
margin-left:66.66666666666666%
}

.col-md-offset-7 {
margin-left:58.333333333333336%
}

.col-md-offset-6 {
margin-left:50%
}

.col-md-offset-5 {
margin-left:41.66666666666667%
}

.col-md-offset-4 {
margin-left:33.33333333333333%
}

.col-md-offset-3 {
margin-left:25%
}

.col-md-offset-2 {
margin-left:16.666666666666664%
}

.col-md-offset-1 {
margin-left:8.333333333333332%
}

.col-md-offset-0 {
margin-left:0
}
}

@media(min-width:1200px) {
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
float:left
}

.col-lg-12 {
width:100%
}

.col-lg-11 {
width:91.66666666666666%
}

.col-lg-10 {
width:83.33333333333334%
}

.col-lg-9 {
width:75%
}

.col-lg-8 {
width:66.66666666666666%
}

.col-lg-7 {
width:58.333333333333336%
}

.col-lg-6 {
width:50%
}

.col-lg-5 {
width:41.66666666666667%
}

.col-lg-4 {
width:33.33333333333333%
}

.col-lg-3 {
width:25%
}

.col-lg-2 {
width:16.666666666666664%
}

.col-lg-1 {
width:8.333333333333332%
}

.col-lg-pull-12 {
right:100%
}

.col-lg-pull-11 {
right:91.66666666666666%
}

.col-lg-pull-10 {
right:83.33333333333334%
}

.col-lg-pull-9 {
right:75%
}

.col-lg-pull-8 {
right:66.66666666666666%
}

.col-lg-pull-7 {
right:58.333333333333336%
}

.col-lg-pull-6 {
right:50%
}

.col-lg-pull-5 {
right:41.66666666666667%
}

.col-lg-pull-4 {
right:33.33333333333333%
}

.col-lg-pull-3 {
right:25%
}

.col-lg-pull-2 {
right:16.666666666666664%
}

.col-lg-pull-1 {
right:8.333333333333332%
}

.col-lg-pull-0 {
right:0
}

.col-lg-push-12 {
left:100%
}

.col-lg-push-11 {
left:91.66666666666666%
}

.col-lg-push-10 {
left:83.33333333333334%
}

.col-lg-push-9 {
left:75%
}

.col-lg-push-8 {
left:66.66666666666666%
}

.col-lg-push-7 {
left:58.333333333333336%
}

.col-lg-push-6 {
left:50%
}

.col-lg-push-5 {
left:41.66666666666667%
}

.col-lg-push-4 {
left:33.33333333333333%
}

.col-lg-push-3 {
left:25%
}

.col-lg-push-2 {
left:16.666666666666664%
}

.col-lg-push-1 {
left:8.333333333333332%
}

.col-lg-push-0 {
left:0
}

.col-lg-offset-12 {
margin-left:100%
}

.col-lg-offset-11 {
margin-left:91.66666666666666%
}

.col-lg-offset-10 {
margin-left:83.33333333333334%
}

.col-lg-offset-9 {
margin-left:75%
}

.col-lg-offset-8 {
margin-left:66.66666666666666%
}

.col-lg-offset-7 {
margin-left:58.333333333333336%
}

.col-lg-offset-6 {
margin-left:50%
}

.col-lg-offset-5 {
margin-left:41.66666666666667%
}

.col-lg-offset-4 {
margin-left:33.33333333333333%
}

.col-lg-offset-3 {
margin-left:25%
}

.col-lg-offset-2 {
margin-left:16.666666666666664%
}

.col-lg-offset-1 {
margin-left:8.333333333333332%
}

.col-lg-offset-0 {
margin-left:0
}
}

table {
max-width:100%;
background-color:transparent
}

th {
text-align:left
}

.table {
width:100%;
margin-bottom:20px
}

.table >thead >tr >th,.table >tbody >tr >th,.table >tfoot >tr >th,.table >thead >tr >td,.table >tbody >tr >td,.table >tfoot >tr >td {
padding:8px;
line-height:1.428571429;
vertical-align:top;
border-top:1px solid #ddd
}

.table >thead >tr >th {
vertical-align:bottom;
border-bottom:2px solid #ddd
}

.table >caption+thead >tr:first-child >th,.table >colgroup+thead >tr:first-child >th,.table >thead:first-child >tr:first-child >th,.table >caption+thead >tr:first-child >td,.table >colgroup+thead >tr:first-child >td,.table >thead:first-child >tr:first-child >td {
border-top:0
}

.table >tbody+tbody {
border-top:2px solid #ddd
}

.table .table {
background-color:#fff
}

.table-condensed >thead >tr >th,.table-condensed >tbody >tr >th,.table-condensed >tfoot >tr >th,.table-condensed >thead >tr >td,.table-condensed >tbody >tr >td,.table-condensed >tfoot >tr >td {
padding:5px
}

.table-bordered {
border:1px solid #ddd
}

.table-bordered >thead >tr >th,.table-bordered >tbody >tr >th,.table-bordered >tfoot >tr >th,.table-bordered >thead >tr >td,.table-bordered >tbody >tr >td,.table-bordered >tfoot >tr >td {
border:1px solid #ddd
}

.table-bordered >thead >tr >th,.table-bordered >thead >tr >td {
border-bottom-width:2px
}

.table-striped >tbody >tr:nth-child(odd) >td,.table-striped >tbody >tr:nth-child(odd) >th {
background-color:#f9f9f9
}

.table-hover >tbody >tr:hover >td,.table-hover >tbody >tr:hover >th {
background-color:#f5f5f5
}

table col [class*= "col- " ] {
position:static;
display:table-column;
float:none
}

table td [class*= "col- " ],table th [class*= "col- " ] {
display:table-cell;
float:none
}

.table >thead >tr >.active,.table >tbody >tr >.active,.table >tfoot >tr >.active,.table >thead >.active >td,.table >tbody >.active >td,.table >tfoot >.active >td,.table >thead >.active >th,.table >tbody >.active >th,.table >tfoot >.active >th {
background-color:#f5f5f5
}

.table-hover >tbody >tr >.active:hover,.table-hover >tbody >.active:hover >td,.table-hover >tbody >.active:hover >th {
background-color:#e8e8e8
}

.table >thead >tr >.success,.table >tbody >tr >.success,.table >tfoot >tr >.success,.table >thead >.success >td,.table >tbody >.success >td,.table >tfoot >.success >td,.table >thead >.success >th,.table >tbody >.success >th,.table >tfoot >.success >th {
background-color:#dff0d8
}

.table-hover >tbody >tr >.success:hover,.table-hover >tbody >.success:hover >td,.table-hover >tbody >.success:hover >th {
background-color:#d0e9c6
}

.table >thead >tr >.danger,.table >tbody >tr >.danger,.table >tfoot >tr >.danger,.table >thead >.danger >td,.table >tbody >.danger >td,.table >tfoot >.danger >td,.table >thead >.danger >th,.table >tbody >.danger >th,.table >tfoot >.danger >th {
background-color:#f2dede
}

.table-hover >tbody >tr >.danger:hover,.table-hover >tbody >.danger:hover >td,.table-hover >tbody >.danger:hover >th {
background-color:#ebcccc
}

.table >thead >tr >.warning,.table >tbody >tr >.warning,.table >tfoot >tr >.warning,.table >thead >.warning >td,.table >tbody >.warning >td,.table >tfoot >.warning >td,.table >thead >.warning >th,.table >tbody >.warning >th,.table >tfoot >.warning >th {
background-color:#fcf8e3
}

.table-hover >tbody >tr >.warning:hover,.table-hover >tbody >.warning:hover >td,.table-hover >tbody >.warning:hover >th {
background-color:#faf2cc
}

@media(max-width:767px) {
.table-responsive {
width:100%;
margin-bottom:15px;
overflow-x:scroll;
overflow-y:hidden;
border:1px solid #ddd;
-ms-overflow-style:-ms-autohiding-scrollbar;
-webkit-overflow-scrolling:touch
}

.table-responsive >.table {
margin-bottom:0
}

.table-responsive >.table >thead >tr >th,.table-responsive >.table >tbody >tr >th,.table-responsive >.table >tfoot >tr >th,.table-responsive >.table >thead >tr >td,.table-responsive >.table >tbody >tr >td,.table-responsive >.table >tfoot >tr >td {
white-space:nowrap
}

.table-responsive >.table-bordered {
border:0
}

.table-responsive >.table-bordered >thead >tr >th:first-child,.table-responsive >.table-bordered >tbody >tr >th:first-child,.table-responsive >.table-bordered >tfoot >tr >th:first-child,.table-responsive >.table-bordered >thead >tr >td:first-child,.table-responsive >.table-bordered >tbody >tr >td:first-child,.table-responsive >.table-bordered >tfoot >tr >td:first-child {
border-left:0
}

.table-responsive >.table-bordered >thead >tr >th:last-child,.table-responsive >.table-bordered >tbody >tr >th:last-child,.table-responsive >.table-bordered >tfoot >tr >th:last-child,.table-responsive >.table-bordered >thead >tr >td:last-child,.table-responsive >.table-bordered >tbody >tr >td:last-child,.table-responsive >.table-bordered >tfoot >tr >td:last-child {
border-right:0
}

.table-responsive >.table-bordered >tbody >tr:last-child >th,.table-responsive >.table-bordered >tfoot >tr:last-child >th,.table-responsive >.table-bordered >tbody >tr:last-child >td,.table-responsive >.table-bordered >tfoot >tr:last-child >td {
border-bottom:0
}
}

fieldset {
padding:0;
margin:0;
border:0
}

legend {
display:block;
width:100%;
padding:0;
margin-bottom:20px;
font-size:21px;
line-height:inherit;
color:#333;
border:0;
border-bottom:1px solid #e5e5e5
}

label {
display:inline-block;
margin-bottom:5px;
font-weight:bold
}

input [type= "search " ] {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box
}

input [type= "radio " ],input [type= "checkbox " ] {
margin:4px 0 0;
margin-top:1px \9;
line-height:normal
}

input [type= "file " ] {
display:block
}

select [multiple ],select [size ] {
height:auto
}

select optgroup {
font-family:inherit;
font-size:inherit;
font-style:inherit
}

input [type= "file " ]:focus,input [type= "radio " ]:focus,input [type= "checkbox " ]:focus {
outline:thin dotted;
outline:5px auto -webkit-focus-ring-color;
outline-offset:-2px
}

input [type= "number " ]::-webkit-outer-spin-button,input [type= "number " ]::-webkit-inner-spin-button {
height:auto
}

output {
display:block;
padding-top:7px;
font-size:14px;
line-height:1.428571429;
color:#555;
vertical-align:middle
}

.form-control {
display:block;
width:100%;
height:34px;
padding:6px 12px;
font-size:14px;
line-height:1.428571429;
color:#555;
vertical-align:middle;
background-color:#fff;
background-image:none;
border:1px solid #ccc;
border-radius:4px;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.form-control:focus {
border-color:#66afe9;
outline:0;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
}

.form-control:-moz-placeholder {
color:#999
}

.form-control::-moz-placeholder {
color:#999;
opacity:1
}

.form-control:-ms-input-placeholder {
color:#999
}

.form-control::-webkit-input-placeholder {
color:#999
}

.form-control [disabled ],.form-control [readonly ],fieldset [disabled ].form-control {
cursor:not-allowed;
background-color:#eee
}

textarea.form-control {
height:auto
}

.form-group {
margin-bottom:15px
}

.radio,.checkbox {
display:block;
min-height:20px;
padding-left:20px;
margin-top:10px;
margin-bottom:10px;
vertical-align:middle
}

.radio label,.checkbox label {
display:inline;
margin-bottom:0;
font-weight:normal;
cursor:pointer
}

.radio input [type= "radio " ],.radio-inline input [type= "radio " ],.checkbox input [type= "checkbox " ],.checkbox-inline input [type= "checkbox " ] {
float:left;
margin-left:-20px
}

.radio+.radio,.checkbox+.checkbox {
margin-top:-5px
}

.radio-inline,.checkbox-inline {
display:inline-block;
padding-left:20px;
margin-bottom:0;
font-weight:normal;
vertical-align:middle;
cursor:pointer
}

.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline {
margin-top:0;
margin-left:10px
}

input [type= "radio " ] [disabled ],input [type= "checkbox " ] [disabled ],.radio [disabled ],.radio-inline [disabled ],.checkbox [disabled ],.checkbox-inline [disabled ],fieldset [disabled ]input [type= "radio " ],fieldset [disabled ]input [type= "checkbox " ],fieldset [disabled ].radio,fieldset [disabled ].radio-inline,fieldset [disabled ].checkbox,fieldset [disabled ].checkbox-inline {
cursor:not-allowed
}

.input-sm {
height:30px;
padding:5px 10px;
font-size:12px;
line-height:1.5;
border-radius:3px
}

select.input-sm {
height:30px;
line-height:30px
}

textarea.input-sm {
height:auto
}

.input-lg {
height:46px;
padding:10px 16px;
font-size:18px;
line-height:1.33;
border-radius:6px
}

select.input-lg {
height:46px;
line-height:46px
}

textarea.input-lg {
height:auto
}

.has-warning .help-block,.has-warning .control-label,.has-warning .radio,.has-warning .checkbox,.has-warning .radio-inline,.has-warning .checkbox-inline {
color:#8a6d3b
}

.has-warning .form-control {
border-color:#8a6d3b;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)
}

.has-warning .form-control:focus {
border-color:#66512c;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #c0a16b;
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #c0a16b
}

.has-warning .input-group-addon {
color:#8a6d3b;
background-color:#fcf8e3;
border-color:#8a6d3b
}

.has-error .help-block,.has-error .control-label,.has-error .radio,.has-error .checkbox,.has-error .radio-inline,.has-error .checkbox-inline {
color:#a94442
}

.has-error .form-control {
border-color:#a94442;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)
}

.has-error .form-control:focus {
border-color:#843534;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483;
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ce8483
}

.has-error .input-group-addon {
color:#a94442;
background-color:#f2dede;
border-color:#a94442
}

.has-success .help-block,.has-success .control-label,.has-success .radio,.has-success .checkbox,.has-success .radio-inline,.has-success .checkbox-inline {
color:#3c763d
}

.has-success .form-control {
border-color:#3c763d;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075)
}

.has-success .form-control:focus {
border-color:#2b542c;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #67b168;
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #67b168
}

.has-success .input-group-addon {
color:#3c763d;
background-color:#dff0d8;
border-color:#3c763d
}

.form-control-static {
margin-bottom:0
}

.help-block {
display:block;
margin-top:5px;
margin-bottom:10px;
color:#737373
}

@media(min-width:768px) {
.form-inline .form-group {
display:inline-block;
margin-bottom:0;
vertical-align:middle
}

.form-inline .form-control {
display:inline-block
}

.form-inline select.form-control {
width:auto
}

.form-inline .radio,.form-inline .checkbox {
display:inline-block;
padding-left:0;
margin-top:0;
margin-bottom:0
}

.form-inline .radio input [type= "radio " ],.form-inline .checkbox input [type= "checkbox " ] {
float:none;
margin-left:0
}
}

.form-horizontal .control-label,.form-horizontal .radio,.form-horizontal .checkbox,.form-horizontal .radio-inline,.form-horizontal .checkbox-inline {
padding-top:7px;
margin-top:0;
margin-bottom:0
}

.form-horizontal .radio,.form-horizontal .checkbox {
min-height:27px
}

.form-horizontal .form-group {
margin-right:-15px;
margin-left:-15px
}

.form-horizontal .form-group:before,.form-horizontal .form-group:after {
display:table;
content: " "
}

.form-horizontal .form-group:after {
clear:both
}

.form-horizontal .form-group:before,.form-horizontal .form-group:after {
display:table;
content: " "
}

.form-horizontal .form-group:after {
clear:both
}

.form-horizontal .form-control-static {
padding-top:7px
}

@media(min-width:768px) {
.form-horizontal .control-label {
text-align:right
}
}

.btn {
display:inline-block;
padding:6px 12px;
margin-bottom:0;
font-size:14px;
font-weight:normal;
line-height:1.428571429;
text-align:center;
white-space:nowrap;
vertical-align:middle;
cursor:pointer;
background-image:none;
border:1px solid transparent;
border-radius:4px;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none
}

.btn:focus {
outline:thin dotted;
outline:5px auto -webkit-focus-ring-color;
outline-offset:-2px
}

.btn:hover,.btn:focus {
color:#333;
text-decoration:none
}

.btn:active,.btn.active {
background-image:none;
outline:0;
-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);
box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)
}

.btn.disabled,.btn [disabled ],fieldset [disabled ].btn {
pointer-events:none;
cursor:not-allowed;
opacity:.65;
filter:alpha(opacity=65);
-webkit-box-shadow:none;
box-shadow:none
}

.btn-default {
color:#333;
background-color:#fff;
border-color:#ccc
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
color:#333;
background-color:#ebebeb;
border-color:#adadad
}

.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default {
background-image:none
}

.btn-default.disabled,.btn-default [disabled ],fieldset [disabled ].btn-default,.btn-default.disabled:hover,.btn-default [disabled ]:hover,fieldset [disabled ].btn-default:hover,.btn-default.disabled:focus,.btn-default [disabled ]:focus,fieldset [disabled ].btn-default:focus,.btn-default.disabled:active,.btn-default [disabled ]:active,fieldset [disabled ].btn-default:active,.btn-default.disabled.active,.btn-default [disabled ].active,fieldset [disabled ].btn-default.active {
background-color:#fff;
border-color:#ccc
}

.btn-default .badge {
color:#fff;
background-color:#fff
}

.btn-primary {
color:#fff;
background-color:#428bca;
border-color:#357ebd
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
color:#fff;
background-color:#3276b1;
border-color:#285e8e
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary {
background-image:none
}

.btn-primary.disabled,.btn-primary [disabled ],fieldset [disabled ].btn-primary,.btn-primary.disabled:hover,.btn-primary [disabled ]:hover,fieldset [disabled ].btn-primary:hover,.btn-primary.disabled:focus,.btn-primary [disabled ]:focus,fieldset [disabled ].btn-primary:focus,.btn-primary.disabled:active,.btn-primary [disabled ]:active,fieldset [disabled ].btn-primary:active,.btn-primary.disabled.active,.btn-primary [disabled ].active,fieldset [disabled ].btn-primary.active {
background-color:#428bca;
border-color:#357ebd
}

.btn-primary .badge {
color:#428bca;
background-color:#fff
}

.btn-warning {
color:#fff;
background-color:#f0ad4e;
border-color:#eea236
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning {
color:#fff;
background-color:#ed9c28;
border-color:#d58512
}

.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning {
background-image:none
}

.btn-warning.disabled,.btn-warning [disabled ],fieldset [disabled ].btn-warning,.btn-warning.disabled:hover,.btn-warning [disabled ]:hover,fieldset [disabled ].btn-warning:hover,.btn-warning.disabled:focus,.btn-warning [disabled ]:focus,fieldset [disabled ].btn-warning:focus,.btn-warning.disabled:active,.btn-warning [disabled ]:active,fieldset [disabled ].btn-warning:active,.btn-warning.disabled.active,.btn-warning [disabled ].active,fieldset [disabled ].btn-warning.active {
background-color:#f0ad4e;
border-color:#eea236
}

.btn-warning .badge {
color:#f0ad4e;
background-color:#fff
}

.btn-danger {
color:#fff;
background-color:#d9534f;
border-color:#d43f3a
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {
color:#fff;
background-color:#d2322d;
border-color:#ac2925
}

.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger {
background-image:none
}

.btn-danger.disabled,.btn-danger [disabled ],fieldset [disabled ].btn-danger,.btn-danger.disabled:hover,.btn-danger [disabled ]:hover,fieldset [disabled ].btn-danger:hover,.btn-danger.disabled:focus,.btn-danger [disabled ]:focus,fieldset [disabled ].btn-danger:focus,.btn-danger.disabled:active,.btn-danger [disabled ]:active,fieldset [disabled ].btn-danger:active,.btn-danger.disabled.active,.btn-danger [disabled ].active,fieldset [disabled ].btn-danger.active {
background-color:#d9534f;
border-color:#d43f3a
}

.btn-danger .badge {
color:#d9534f;
background-color:#fff
}

.btn-success {
color:#fff;
background-color:#5cb85c;
border-color:#4cae4c
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {
color:#fff;
background-color:#47a447;
border-color:#398439
}

.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success {
background-image:none
}

.btn-success.disabled,.btn-success [disabled ],fieldset [disabled ].btn-success,.btn-success.disabled:hover,.btn-success [disabled ]:hover,fieldset [disabled ].btn-success:hover,.btn-success.disabled:focus,.btn-success [disabled ]:focus,fieldset [disabled ].btn-success:focus,.btn-success.disabled:active,.btn-success [disabled ]:active,fieldset [disabled ].btn-success:active,.btn-success.disabled.active,.btn-success [disabled ].active,fieldset [disabled ].btn-success.active {
background-color:#5cb85c;
border-color:#4cae4c
}

.btn-success .badge {
color:#5cb85c;
background-color:#fff
}

.btn-info {
color:#fff;
background-color:#5bc0de;
border-color:#46b8da
}

.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {
color:#fff;
background-color:#39b3d7;
border-color:#269abc
}

.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info {
background-image:none
}

.btn-info.disabled,.btn-info [disabled ],fieldset [disabled ].btn-info,.btn-info.disabled:hover,.btn-info [disabled ]:hover,fieldset [disabled ].btn-info:hover,.btn-info.disabled:focus,.btn-info [disabled ]:focus,fieldset [disabled ].btn-info:focus,.btn-info.disabled:active,.btn-info [disabled ]:active,fieldset [disabled ].btn-info:active,.btn-info.disabled.active,.btn-info [disabled ].active,fieldset [disabled ].btn-info.active {
background-color:#5bc0de;
border-color:#46b8da
}

.btn-info .badge {
color:#5bc0de;
background-color:#fff
}

.btn-link {
font-weight:normal;
color:#428bca;
cursor:pointer;
border-radius:0
}

.galSzerkeszto {
    padding: 10px;
    margin-bottom: 4px;
    border: 1px solid #aaa;
    background: yellow;
    background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDclIiBzdG9wLWNvbG9yPSIjZjZmNmY2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

}
.galSzerkeszto img {
    float: right;
    margin: 5px;
    border: 3px solid #fff;
}
.galSzerkeszto textarea {
    height: 30px;
    width: 70%;
}
.galSzerkeszto button,.galSzerkeszto form a, .galSzerkeszto.gomb, a.galGomb {
    float: none;
    display: inline-block;
    background: green;
    color: #fff;
    padding: 3px 10px 3px 10px;
    
}
