/* -----------------------------------------------

	* Screen Style Sheet

	* Name: Transdmin Light
	
	* Coded by: Perspectived
	  http://www.perspectived.com

----------------------------------------------- */

/* CSS reset by Eric Meyer */
@import url("reset.css");
@import url("layout.css");
@import url("jNice.css");
@import url("hack.css");

.hibaDiv {
    border: 2px solid #FF8040;
    padding: 10px;
    color: red;
    background: #FFC9AE;
}
.uzenetDiv {
    border: 2px solid green;
    padding: 10px;
    color: green;
    background: #95FF95;
}
.infoDiv {
    display: block;
    border: 2px solid #CEF2FD;
    padding: 10px;
    color: green;
    background: #F1FBFE;
    margin-bottom: 10px;
}
h1 a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.kipipalo {
    display: inline-block;
    padding: 6px;
    font-size: 11px;
    background: #bbb;
    margin: 3px;
}
.kipipalo span {
    background: #888;
    color: #fff;
    padding: 3px;
    cursor: pointer;
    font-size: 9px;
    font-weight: bold;
}
.kipipalo span:hover {
    background: #fff;
    color: #aaa;
    
}
.round3 {
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.round15 {
    -webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.opciosor {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
.opciosor input, .opciosor textarea {
    width: 500px;
}
.opciosor label {
    display: block;
    
    width: 100%;
}
.opciosor p {
    clear: both;
}
.ujopcio {
    background: #FFECFF;
}