#ajaxFatyol {
    display:none;
    position:absolute;
    z-index: 100;
}
#jqAjaxAblak {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    padding: 10px;
    display:none;
    z-index: 200;
    position: absolute;
    
}
#jqAjaxAblak #ContentFrame {
    background: white;
    padding:0px;
}
#jqAjaxAblak #jqAjAblContent {
    
     padding:5px;
    overflow: auto;
}
#jqAjaxAblak a.jqAjaxButton {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #6f84b3;
    color: #fff;
    display: inline-block;
    padding:5px;
    font-size:12px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    margin-left: 20px;
}
